<section class="row center-align" style="width:100%;">		
	<article class="col s12">			
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>CANCELAR RELEVAMIENTO</p>
			</div>					
		</article>			
	</article>
</section>
		
<main style="margin-top:-30px;">		  
	<section class="row col s12">		
		<article class="col s12">
			<article class="card col s12">
				<p>
					Usted está a punto de cancelar la auditoría, de realizarlo perderá los datos que cargó en este relevamiento y no podrá deshacer está operación.
				</p>
				<p class="red-text center-align" style="font-size:18px;">
					¿Está seguro desea proseguir?
				</p>
				<p class="center-align">
					<a ng-href="#" ng-controller="SurveyController as vm" ng-click="vm.cancelAudit()" class="waves-effect waves-light btn">CONTINUAR</a>
                    <a ng-href="#/" class="waves-effect waves-light btn">VOLVER</a>
				</p>				
			</article>
		</article>                 				
	</section>	         	
</main>