<section class="row center-align" style="width:100%;">		
	<article class="col s12">			
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>{{currentModule.modName}}</p>
			</div>					
		</article>			
	</article>
</section>

<main style="margin-top:-30px;">		  
	<section class="row col s12">			
		<ul class="collection with-header">										
							   
			<li class="collection-item" ng-repeat="category in categories">						
				<a ng-href="#/Channel/{{routeParams.channelId}}/Pdv/{{routeParams.pdvId}}/Seller/{{routeParams.sellerId}}/Module/{{currentModule.moduleId}}/Category/{{category.categoryId}}/CategoryType/{{currentModule.moduleId}}">
					{{category.name}}
					<div class="secondary-content">
						<i class="material-icons">chevron_right</i>
					</div>
				</a>							
			</li>					

		</ul>				
	</section>
</main>