<div class="fixed-action-btn" style="bottom:15px; right: 15px;">
	<a class="btn-floating btn-large green" href="#/Welcome">
		<i class="large material-icons">add_circle</i>
	</a>
</div>
		
<main>		  
	<section class="row col s12">

		<article class="col s12">
			<select>
                <option>HOY</option>
			</select>
		</article>

		<article class="col s12" ng-show="!(target === 0)">
			<article class="card blue-grey darken-1 col s12">
				<div class="card-content white-text">
					<p>
						<center style="overflow:auto;">
							<strong style="float:left;font-size:40px;">
								{{visitedPDVs}}
							</strong>
							<strong style="float:right;font-size:20px;">
								PDV<br/>VISITADOS
							</strong>
						</center>
					</p>
				</div>						
			</article>
		</article>
				
		<article class="col s12" ng-show="!(target === 0)">
			<article class="card blue-grey darken-1 col s12">
				<div class="card-content white-text">			
					<div class="card-content teal white-text" ng-style="progressStyle"></div>
						<p style="overflow:auto; margin-top:10px;">
							<strong class="center-align" style="float:left;font-size:40px;">
								{{obtainedCompliance + '%'}}
							</strong>
							<strong class="center-align" style="float:right;font-size:16px;margin-top:5px;">
								CUMPLIMIENTO<br/>OBTENIDO
							</strong>
						</p>							
				</div>						
			</article>
		</article>		

		<article class="col s12">
			<ul class="collapsible" data-collapsible="expandable">					
				<li ng-repeat="module in modules">
					<div class="collapsible-header">
						<i class="material-icons">{{module.percents.icon}}</i>{{module.percents.mod_name}}
						<span class="badge" ng-style="{ 'color': module.percents.percent < 80? '#e84033': '#54922a' }"><i class="material-icons">{{ module.percents.percent < 80? 'error' :'check_circle' }}</i>
							{{module.percents.percent}}%
						</span>
					</div>
					<div class="collapsible-body">
							<p>
								<span ng-repeat-start="executionPoint in module.points">{{executionPoint.title}}</span>
								<span class="badge" ng-style="{ 'color': module.percents.percent < 80? '#e84033': '#54922a' }">
									<i class="material-icons" style="font-size:12.9px;padding-right:5px;">{{ executionPoint.percentage < 80? 'error' :'check_circle' }}</i>{{executionPoint.percentage}}%
								</span>
								<br ng-repeat-end/>						
							</p>
					</div>
                </li>						
			</ul>
		</article>

	</section>		
</main>