<main>		  
	<section class="row ">				
		<article class="col s12 m12 l12">				
			<section class="row">					
				<section class="row card-panel">							
					<form class="col s12" ng-submit="login()">							
						<h6 class="col s12">Credenciales Requeridas</h6>							
							<article class="row">								
								<p class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label class="active" for="email" data-error="Dato Inválido" data-success="Email Correcto">
										Correo Electrónico
									</label>
								</p>
									
							</article>
								
							<article class="row">								
								<p class="input-field col s12">
									<input id="password" type="password" class="validate">
									<label class="active" for="password">Password</label>
								</p>
									
							</article>
								
							<p class="col s12">
								<button type="submit" class="waves-effect waves-light btn">
									<i class="material-icons left">lock_outline</i>
									Ingresar
								</button>
							</p>							  
					</form>							
				</section>						
			</section>				
		</article>				
	</section>
</main>