<section class="row center-align" style="width:100%;">		
	<article class="col s12">			
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>ALTA NUEVO PDV</p>
			</div>					
		</article>			
	</article>
</section>
		
<main style="margin-top:-30px;">		  
	<section class="row col s12">			
		<article class="col s12">
			<article class="card col s12">					
				<p class="center-align">NUEVO PUNTO DE VENTA</p>

				<form class="row" ng-controller="pdvController" ng-submit="submitSearch()">						
					<input type="hidden" name="mode" value="1">
						
					<div class="input-field col s12">
						<input id="field_1" type="text" class="validate" placeholder="Razón Social o Marca">
						<label for="field_1">Nombre PDV</label>
					</div>
							
					<div class="input-field col s12">
						<input id="field_1" type="text" class="validate" placeholder="Calle #, Localidad, Provincia">
						<label for="field_1">Dirección</label>
					</div>
							
					<div class="row col s12">								
						<select class="browser-default">
							<option value="" disabled selected>Tipo de PDV</option>
							<option value="1">Almacén</option>
							<option value="2">Almacén</option>
							<option value="3">Almacén</option>
						</select>								
					</div>
							
					<div class="col s12">
						<button type="submit" class="waves-effect waves-light btn">SIGUIENTE</button>
					</div>						 
				</form>						
			</article>
		</article>				
	</section>
</main>