<section class="row center-align" style="width:100%;">		
	<article class="col s12">		
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>BUSQUEDA PREVENTISTA</p>
			</div>
		</article>			
	</article>
</section>
		
<section style="margin-top:-30px;">		  
	<section class="row col s12">		
		<article class="col s12">
			<article class="card col s12">		
				<form action="#" class="row">						
					<p class="input-field col s12">
						<input id="input_text" type="text" placeholder="Búsqueda" ng-model="query">
					</p>						 
				</form>						
			</article>
		</article>				
	</section>
</section>
		
<main style="margin-top:-30px;">		  
	<section class="row col s12">			
		<ul class="collection with-header">								   
			<li class="collection-item" ng-repeat="seller in sellers | filter: query">						
				<a href="#/Coaching">
					{{seller.name}}
					<div class="secondary-content">
						<i class="material-icons">chevron_right</i>
					</div>
				</a>							
			</li>					
		</ul>				
	</section>
</main>