<section class="row center-align" style="width:100%;">		
	<article class="col s12">			
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>COMENZAR SINCRONIZACIÓN</p>
			</div>					
		</article>			
	</article>
</section>
		
<main style="margin-top:-30px;">		  
	<section class="row col s12">		
		<article class="col s12">
			<article class="card col s12">
				<p>El proceso de sincronización puede demorar varios minutos y mientras no podrá ser cancelado.</p>
				<p class="red-text center-align" style="font-size:18px;">¿Está seguro desea proseguir y sincronizar los datos?</p>
				<p class="center-align">
					<a ng-href="{{syncRoute}}" class="waves-effect waves-light btn">COMENZAR SINCRONIZADO</a>
				</p>				
			</article>
		</article>				
	</section>		
</main>