<section class="row center-align" style="width:100%;">		
	<article class="col s12">			
		<article class="card blue-grey darken-1 col s12">				
			<div class="card-content white-text">
				<p>COMENZAR AUDITORÍA</p>
			</div>
					
		</article>		
	</article>		
</section>
		
<main style="margin-top:-30px;">		  
	<section class="row col s12">			
		<article class="col s12">
			<article class="card col s12">
				<p>Para comenzar una nueva auditoría deberá ingresar los datos del PDV. Al iniciarse, entrará en modo "Auditoría", lo cual le modificará la navegación para trabajar exclusivamente en este modo hasta que salga del mismo.</p>
				<p class="center-align">
					<a ng-href="#/Channel" class="waves-effect waves-light btn">COMENZAR AUDITORÍA</a>
				</p>						
			</article>
		</article>				
	</section>
</main>