<article class="col s12" ng-repeat="question in content">
	<article class="card col s12">				

		<!-- Help -->	
		<div class="col s12  right-align" style="height:25px;" ng-show="question.helper != 0">
			<a ng-href="#/Help/{{question.id}}">
				<i class="material-icons" style="margin-top:5px;margin-right:-15px;color:#2ba0c9;font-size:22px;">
					help_outline
				</i>
			</a>
		</div>

		<!-- Plain Content -->
		<div ng-if="question.render === 'plain'" class="card-conten">
			<p>{{question.data}}</p>
		</div>

		<!-- Image Content -->
		<div ng-if="question.render === 'image'" 
			 class="card-image waves-effect waves-block waves-light" 
			 style="margin-top:25px;margin-bottom: 8px;">
			<img class="activator" ng-src="{{question.thumb}}"></img>
		</div>
												
		<div ng-if="question === 'image'" 
			 class="col s12 right-align" 
			 style="height:25px;"
             ng-show="question.helper != 0">
			<a ng-href="#/Help/{{question.id}}">
				<i class="material-icons" 
				   style="z-index:10;position:relative;top:-70px;left:10px;color:#2ba0c9;font-size:22px;background-color:white;padding-left:5px;padding-bottom:5px;">
				   help_outline
				</i>
			</a>
		</div>

		<div ng-if="question.render === 'image'" class="card-reveal">
			<a ng-href="" ng-click="vm.openBigImageModal(question)" class="modal-trigger">
				<i class="material-icons left">photo_library</i>
			</a>					
			<span class="card-title grey-text text-darken-4">
				<i class="material-icons right">close</i>
			</span>
			<br/>
			<p>{{question.data}}</p>
		</div>

		<section ng-if="question.render === 'image'" id="questionModal{{question.id}}" class="modal" style="width:100%;">
		    <img class="activator responsive-img" ng-src="{{question.big}}"></img>			
		</section>		

		<!-- Content Bis Content -->
		<h5 ng-if="question.render === 'complete_bis'" 
			ng-style="{'font-size': question.styling.css.size_title, 'color': question.styling.css.color_title }">
			{{question.title}}
		</h5>

		<!-- Title Content-->
		<h5 ng-if="question.render === 'title'" 
			style="font-size:18px;">
			{{question.title}}		
		</h5>

		<!-- Planograma percentage -->
		<div class="col s12" style="position:absolute;" ng-if="question.has_percent === 1 && question.answer === 'open' && question.config.answer_config.is_number === true">
			<div style="position:relative;top:-30px;left:85%;">
				<span style="background-color:#515151;color:white;padding:3px 5px;">{{question.percent === '' ? '0%' : question.percent + '%'}}</span>
			</div>
		</div>	

		<!-- Binary Action -->
		<div ng-if="question.answer === 'binary'" 
			 ng-show="question.JSONData.value === undefined"
			 class="card-action center-align">
			<a href ng-click="vm.binaryAction(question, true)">{{question.config.answer_config.labels[1]}}</a>
			<a href ng-click="vm.binaryAction(question, false)">{{question.config.answer_config.labels[0]}}</a>
		</div>

		<div ng-if="question.answer === 'binary'" 
			 ng-show="(question.JSONData.value !== undefined && question.JSONData.value === true)"
			 class="card-action right-align">
			<i class="material-icons left" style="position:relative;left:-20px;top:-5px;color:#54922a;">check_circle</i>
			<a href ng-click="vm.undoBinaryAction(question)"><strong style="color:#54922a;">SI CUMPLE</strong></a>
		</div>

		<div ng-if="question.answer === 'binary'" 
			 ng-show="(question.JSONData.value !== undefined && question.JSONData.value === false)"
			 class="card-action right-align">
			<i class="material-icons left" style="position:relative;left:-20px;top:-5px;color:#cd372f;">cancel</i>
			<a href ng-click="vm.undoBinaryAction(question)"><strong style="color:#cd372f;">NO CUMPLE</strong></a>
		</div>

		<!-- Open Action -->

		<div ng-if="question.answer === 'open'" 
		     class="card-action" 
		     style="margin-left:-20px;overflow:auto;">		
			<div>
				<input type="number" 
					   min="0"
					   style="width:100%;padding:0;margin:0;" 
					   placeholder="Cantidad" 
					   ng-change="vm.openAction(question)" 
					   ng-model="question.JSONData.value"/>
			</div>					
		</div>

		<!-- Price Action -->

		<div ng-if="question.answer === 'price'" 
		     class="card-action" 
		     style="margin-left:-20px;overflow:auto;">
			<span ng-style="{ 'float': 'left', 'display': 'block', 'background-color': question.styling.css.bg_data, 'padding':'3px 5px', 'color':question.styling.css.color_data}">
				{{question.data}}
			</span>				  
			
			<div style="float:right;">
				<input type="number" style="width:60px;padding:0;margin:0;" 
					   placeholder="Precio" 
					   ng-change="vm.priceAction(question)"
					   ng-model="question.JSONData.value" />
			</div>
		</div>

		<!-- Multiple Action -->

		<form ng-if="question.answer === 'multiple'" class="card-action">
			<p>
				<span style="padding-right:10px;" 
					  ng-repeat="n in range(question.config.answer_config.labels.length) track by $index">
					<input type="checkbox" class="filled-in" 
						   id="{{question.id}}-{{$index}}" 
						   ng-model="question.config.answer_config.selected[$index]" 
						   ng-click="vm.multipleAction(question)" />
					<label for="{{question.id}}-{{$index}}">
						{{question.config.answer_config.labels[$index]}}
					</label>
				</span>
			</p>
		</form>
				
	</article>
</article>